<a href="https://colab.research.google.com/github/leeminhyeon/BaekJoonAlgorithm/blob/stepPractice/Step2_if%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 백준 알고리즘 단계별로 풀어보기
2. if문

1330

두 정수 A와 B가 주어졌을 때, A와 B를 비교하는 프로그램을 작성하시오.

(입력) : 첫째 줄에 A와 B가 주어진다. A와 B는 공백 한 칸으로 구분되어져 있다.
    
(출력) : 첫째 줄에 다음 세 가지 중 하나를 출력한다.

A가 B보다 큰 경우에는 '>'를 출력한다.

A가 B보다 작은 경우에는 '<'를 출력한다.

A와 B가 같은 경우에는 '=='를 출력한다.

In [0]:
A, B = map(int, input().split())
if A > B : 
    print('>')
elif A < B :
    print('<')
else:
    print('==')

5 5
==

9498

시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

(입력) : 첫째 줄에 시험 점수가 주어진다. 시험 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

(출력) : 시험 성적을 출력한다.

In [0]:
x = int(input())
if x>=90 and x<=100:
    print("A")
elif x>=80 and x<90:
    print("B")
elif x>=70 and x<80:
    print("C")
elif x>=60 and x<70:
    print("D")
else:
    print("F")

100
A

2753

연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때 이다.

예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에 윤년이 아니다.

하지만, 2000년은 400의 배수이기 때문에 윤년이다.

(입력) : 첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.
    
(출력) : 첫째 줄에 윤년이면 1, 아니면 0을 출력한다.

In [0]:
year = int(input())
if year%4==0:
    if year%100!=0:
        print("1")
    else:
        if year%400==0:
            print("1")
        else:
            print("0")
else:
    print("0")

2012
0

2884

(입력) : 첫째 줄에 두 정수 H와 M이 주어진다. (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 그리고 이것은 현재 상근이가 맞춰놓은 알람 시간 H시 M분을 의미한다.
입력 시간은 24시간 표현을 사용한다. 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 시간을 나타낼 때, 불필요한 0은 사용하지 않는다.

(출력) : 첫째 줄에 상근이가 창영이의 방법을 사용할 때, 맞춰야 하는 알람 시간을 출력한다. (입력과 같은 형태로 출력하면 된다.)

In [0]:
HH, MM = map(int, input().split())
realMM = MM-45
realHH = HH

if realMM<0:
    realHH = realHH-1
    realMM = 60-45+MM
    if realHH<0:
        realHH = 23

print(realHH, realMM)

0 10
23 25

10817

세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오. 

(입력) : 첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다. (1 ≤ A, B, C ≤ 100)

(출력) : 두 번째로 큰 정수를 출력한다.

In [0]:
A, B, C = map(int, input().split())
mynumber = [A, B, C]
mynumber.sort()
print(mynumber[1])

10 10 5
10